In [496]:
import pandas as pd
import sqlalchemy as db

In [497]:
# use sqlalchemy to create engine

engine = db.create_engine('postgresql://xosxlxys:uoHxehFCCr8M_exJ6ETuRJoKvqlUvER2@mouse.db.elephantsql.com/xosxlxys')

ORDERS

In [498]:
# import orders raw data

orders = pd.read_excel('/home/steveomari62/sports-store-ETL/store_raw_data/H+ Sport orders.xlsx')

In [499]:
# initial orders scan

orders.head()

,OrderID,Date,TotalDue,Status,CustomerID,SalespersonID,CustomersComment,SalespersonsComment
0,1000,05/14/2016,$140.91,paid,413,130,NaN,NaN
1,1001,07/31/2016,$105.32,returned,128,102,NaN,NaN
2,1002,07/09/2016,$217.30,past due,791,115,NaN,NaN
3,1003,04/04/2016,$281.39,paid,974,139,NaN,NaN
4,1004,02/16/2016,$254.76,paid,866,102,NaN,NaN

EMPLOYEES

In [500]:
# import employees raw data

employees = pd.read_excel('/home/steveomari62/sports-store-ETL/store_raw_data/H+ Sport Employees.xlsx', sheet_name='Employees')

In [501]:
# initial employees scan

employees.head()

# the last 3 columns don't offer any valuable insight so they will be removed

,Employee Name,Building,Department,Status,Hire Date,Month,Years,Benefits,Salary,Job Rating,New Salary,Tax Rate,0.0291
0,"Page, Lisa",West,ADC,Full Time,1999-01-11,Jan,25,DMR,24550,1,NaN,NaN,NaN
1,"Taylor, Hector",West,ADC,Half-Time,2011-02-21,Feb,12,DM,26795,4,NaN,NaN,NaN
2,"Dawson, Jonathan",West,ADC,Contract,2007-03-06,Mar,16,NaN,42540,5,NaN,NaN,NaN
3,"Duran, Brian",Taft,ADC,Hourly,2012-08-30,Aug,11,NaN,35680,2,NaN,NaN,NaN
4,"Weber, Larry",Watson,ADC,Full Time,2007-12-31,Dec,16,M,72830,2,NaN,NaN,NaN

In [502]:
employees = employees.drop(columns=['New Salary', 'Tax Rate', 0.0291])

In [503]:
employees.head()

# confirmed last 3 columns have been removed

,Employee Name,Building,Department,Status,Hire Date,Month,Years,Benefits,Salary,Job Rating
0,"Page, Lisa",West,ADC,Full Time,1999-01-11,Jan,25,DMR,24550,1
1,"Taylor, Hector",West,ADC,Half-Time,2011-02-21,Feb,12,DM,26795,4
2,"Dawson, Jonathan",West,ADC,Contract,2007-03-06,Mar,16,NaN,42540,5
3,"Duran, Brian",Taft,ADC,Hourly,2012-08-30,Aug,11,NaN,35680,2
4,"Weber, Larry",Watson,ADC,Full Time,2007-12-31,Dec,16,M,72830,2

In [504]:
employees.shape

(741, 10)

In [505]:
# check to see if any employees have been duplicated 

employees_duplicated = employees[employees.duplicated(['Employee Name', 'Hire Date'])]

In [506]:
employees_duplicated.shape

# no employee duplication

(0, 10)

In [507]:
# check for null values 

employees.isnull().sum()

# the benefits column has null values which in the context of this data is ok and valid

Employee Name      0
Building           0
Department         0
Status             0
Hire Date          0
Month              0
Years              0
Benefits         247
Salary             0
Job Rating         0
dtype: int64

CUSTOMERS

In [508]:
# import customers raw data

customers = pd.read_excel('/home/steveomari62/sports-store-ETL/store_raw_data/H+ Sport Customers.xlsx')

In [509]:
# initial customers scan

customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625

In [510]:
customers.shape

(1029, 9)

In [511]:
# checking for duplicates using unique identifier columns

customer_duplicates = customers[customers.duplicated(['FirstName', 'LastName', 'Email', 'Phone'])]

In [512]:
customer_duplicates

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
1000,1100,Chris,Moreno,cmorenond@mac.com,(907)709-6086,8740 Oak Valley Park,Fairbanks,AK,99790
1001,1101,Gerald,Green,ggreenne@wisc.edu,(203)541-4782,242 Eastlawn Drive,New Haven,CT,6510
1002,1102,Johnny,Ruiz,jruiznf@nba.com,(202)731-4171,70917 Meadow Valley Crossing,Washington,DC,20337
1003,1103,Carlos,Morales,cmoralesng@ed.gov,(517)792-4134,8 Jay Way,Lansing,MI,48956
1004,1104,Gloria,Ramos,gramosnh@xing.com,(646)144-6692,32091 Ryan Street,New York City,NY,10110
1005,1105,Lawrence,Sanchez,lsanchezni@prlog.org,(415)283-9050,07 Ronald Regan Center,San Francisco,CA,94164
1006,1106,Philip,Hayes,phayesnj@adobe.com,(510)315-1807,76 Transport Crossing,Oakland,CA,94622
1007,1107,George,Ortiz,gortiznk@dropbox.com,(508)876-5965,66703 Summerview Lane,Boston,MA,2119
1008,1108,Lois,Andrews,landrewsnl@tripadvisor.com,(915)181-3084,164 Summer Ridge Point,El Paso,TX,88530
1009,1109,Russell,Lawson,rlawsonnm@ebay.com,(979)278-7081,1862 Hoffman Terrace,College Station,TX,77844
1010,1110,Richard,George,rgeorgenn@usda.gov,(614)750-2828,4 Doe Crossing Parkway,Columbus,OH,43226
1011,1111,Cheryl,Moore,cmooreno@networksolutions.com,(253)648-0305,2849 Badeau Trail,Tacoma,WA,98411
1012,1112,Sarah,Sims,ssimsnp@issuu.com,(619)409-5898,2386 Springs Park,San Diego,CA,92191
1013,1113,Lori,Little,llittlenq@alibaba.com,(702)579-9171,46474 Cambridge Lane,Las Vegas,NV,89105
1014,1114,Louise,Morrison,lmorrisonrr@nifty.com,(786)955-3070,6 Donald Junction,Miami,FL,33147
1015,1115,Chris,Moreno,cmorenond@mac.com,(907)709-6086,8740 Oak Valley Park,Fairbanks,AK,99790
1016,1116,Gerald,Green,ggreenne@wisc.edu,(203)541-4782,242 Eastlawn Drive,New Haven,CT,6510
1017,1117,Johnny,Ruiz,jruiznf@nba.com,(202)731-4171,70917 Meadow Valley Crossing,Washington,DC,20337
1018,1118,Carlos,Morales,cmoralesng@ed.gov,(517)792-4134,8 Jay Way,Lansing,MI,48956
1019,1119,Gloria,Ramos,gramosnh@xing.com,(646)144-6692,32091 Ryan Street,New York City,NY,10110
1020,1120,Lawrence,Sanchez,lsanchezni@prlog.org,(415)283-9050,07 Ronald Regan Center,San Francisco,CA,94164
1021,1121,Philip,Hayes,phayesnj@adobe.com,(510)315-1807,76 Transport Crossing,Oakland,CA,94622
1022,1122,George,Ortiz,gortiznk@dropbox.com,(508)876-5965,66703 Summerview Lane,Boston,MA,2119
1023,1123,Lois,Andrews,landrewsnl@tripadvisor.com,(915)181-3084,164 Summer Ridge Point,El Paso,TX,88530
1024,1124,Russell,Lawson,rlawsonnm@ebay.com,(979)278-7081,1862 Hoffman Terrace,College Station,TX,77844
1025,1125,Richard,George,rgeorgenn@usda.gov,(614)750-2828,4 Doe Crossing Parkway,Columbus,OH,43226
1026,1126,Cheryl,Moore,cmooreno@networksolutions.com,(253)648-0305,2849 Badeau Trail,Tacoma,WA,98411
1027,1127,Sarah,Sims,ssimsnp@issuu.com,(619)409-5898,2386 Springs Park,San Diego,CA,92191
1028,1128,Lori,Little,llittlenq@alibaba.com,(702)579-9171,46474 Cambridge Lane,Las Vegas,NV,89105

In [513]:
# find out number of duplicates 

customer_duplicates.shape

(29, 9)

In [514]:
# delete duplicates and update the customers data

customers = customers[~customers.duplicated(['FirstName', 'LastName', 'Email', 'Phone'], keep='first')]

In [515]:
customers.shape

# the raw data had 1,029 customers, and 29 duplicate customers. 
# After removing the duplicates we are left with 1,000 customers which makes sense.

(1000, 9)

In [516]:
confirm_no_duplicates = customers[customers.duplicated(['FirstName', 'LastName', 'Email', 'Phone'])]

In [517]:
confirm_no_duplicates.shape

# confirmed all duplicates are removed

(0, 9)

In [518]:
# check for missing or null values 

customers.isnull().sum()

# no missing or null values

CustomerID    0
FirstName     0
LastName      0
Email         0
Phone         0
Address       0
City          0
State         0
Zipcode       0
dtype: int64

In [519]:
customers.to_sql('customers', engine, if_exists='replace', index=False)

1000

PRODUCTS

In [520]:
# import products raw data

products = pd.read_excel('/home/steveomari62/sports-store-ETL/store_raw_data/H+ Sport products.xlsx')

In [521]:
# initial products scan

products.head()

  Product ID Product category                                   Item   Price
0      FT422          Fitness                 Battle rope - 1.5 inch   90.55
1      FT871          Fitness                   Battle rope - 2 inch  120.25
2      FT976          Fitness  Insulated water bottle - 24oz - Green   19.99
3      FT434          Fitness   Insulated water bottle - 24oz - Grey   19.99
4      FT172          Fitness   Insulated water bottle - 24oz - Pink   19.99